/* Hides the scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
/* ----------------- */


h1 {
  font-family: "Goodbye Crewel World";
  font-size: 52pt;
}

#the-viewport {
  position: fixed;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  border: 1px dashed rgba(100, 0, 0, 0.2);
}

.diagonal-scroll-wrapper {
  background-color: lemonchiffon;
  background-image: url("images/wall-4-light.png");
  background-attachment: local;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 1240px;
  max-height: 1655px;
  height: 1200px;
  overflow-y: visible;
  overflow-x: hidden;
  transform-origin: left top;
  transform: rotate(-30deg) translate(-384px, 0px);
  padding-left: 120px;
  padding-top: 120px;
  padding-bottom: 500px;
  padding-right: 400px;
}

.diagonal-scroll-wrapper > * {
  transform-origin: center;
  transform: rotate(30deg);
  --sqrt-of-three: 1.7320508;
}
.diagonal-scroll-wrapper .frame {
  box-sizing: border-box; /* Makes sizing more intuitive by accounting for border. */
  display: inline-block;
  background-color: whitesmoke;
  padding: 20px;
  border: 10px solid black;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4), inset 2px 0px 10px black;
  position: relative;
  --down-shift: 0px;
  --right-shift: 0px;
  top: calc((var(--down-shift) * var(--sqrt-of-three)) + (var(--right-shift)));
  right: calc(
    (var(--down-shift)) + (-1 * var(--right-shift) * var(--sqrt-of-three))
  );
}

.frame img {
  position: relative;
  z-index: -1;
}

.frame .inner-shadow {
  display: inline-block;
  font-size: 0;
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.4);
}

figure.frame:nth-of-type(2n) {
  padding: 40px;
}

#intro {
  margin-left: 117px;
}

#grandma {
  --down-shift: 110px;
  --right-shift: 10px;
}

#flowers {
  --down-shift: 65px;
  --right-shift: -2px;
}

#family1 {
  --down-shift: 89px;
  --right-shift: 13px;
}

#laughing-lady {
  --down-shift: 22px;
  --right-shift: -7px;
}

#freckled-girl {
  --down-shift: 77px;
  --right-shift: 12px;
}

#orange-eyes {
  --down-shift: 27px;
  --right-shift: 0px;
}

#pets {
  --down-shift: 4px;
  --right-shift: 1px;
}

#pets img {
  width: 120px;
  height: 120px;
}

#pets div:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
}

#bowtie-kid {
  --down-shift: -42px;
  --right-shift: 29px;
}

#grandparents {
  --down-shift: 46px;
  --right-shift: 56px;
}

#grandparents .inner-shadow {
  display: block;
}

#grandparents .inner-shadow:first-child {
  margin-bottom: 20px;
}

#wet-girl {
  position: absolute;
  --down-shift: 870px;
  --right-shift: 282px;
}

#curly-red-hair {
  margin-top: 89px;
  --down-shift: -22px;
  --right-shift: 12px;
}

#marriage {
  --down-shift: 8px;
  --right-shift: 41px;
}

#dad-and-kids {
  --down-shift: 8px;
  --right-shift: 0px;
}

#dog-wash {
  --down-shift: 0px;
  --right-shift: 30px;
}

footer {
  height: 100vh;
}
